#JuliaTowerLight_status {
	background-color: #00b6ff !important;
	background-image: none !important;
	font-size: 0 !important;

	display: block;
	margin: 7px;
	margin-bottom: 0;
	width: 26px;
	height: 26px;
	border-radius: 4px;
	border: 1px solid #999
}

#JuliaTowerLight_status.red {
	background-color: #ff0000 !important;
}

#JuliaTowerLight_status.green {
	background-color: #00ff00 !important;
}

#JuliaTowerLight_status.yellow {
	background-color: #ffbb00 !important;
}